.c006-alert {
    display               : block;
    position              : relative;
    margin                : 10px 0;
    padding               : 10px;
    -webkit-border-radius : 5px;
    -moz-border-radius    : 5px;
    border-radius         : 5px;
}

.c006-alert .message {
    color : inherit;
}

.c006-alert .close {
    display    : inline-block;
    position   : absolute;
    right      : 10px;
    top        : 5px;
    color      : inherit;
    background : inherit;
    font-size  : 1em;
    cursor     : pointer;
}
